<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

	{{#if user}}
	  <p class="navbar-text">
	   	<strong>Hi,</strong>{{user.username}}
	  </p>
	{{/if}}

    {{#if message}}
        <p class="alert alert-success">imessage: {{message}}</p>
    {{/if}}

	  
	{{#if error}}
	  <p class="alert alert-warning">ierror: {{error}}</p>
	{{/if}}

	{{#if success}}
	  <p class="alert alert-success">isuccess: {{success}}</p>
	{{/if}}

	{{#if notice}}
	  <p class="alert alert-info">inotice: {{notice}}</p>
	{{/if}}



	{{{body}}}
  </body>
</html>
